{% extends 'menu.html'%}

{%block content%}
<main>
    <style>
        /* Estilos embutidos */
        body {
            font-family: Arial, sans-serif;
            background-color: #f4f4f4;
            margin: 0;
            padding: 0;
        }

        header {
            background-color: #333;
            color: #fff;
            padding: 1rem;
            text-align: center;
        }

        main {
            padding: 2rem;
        }

        section {
            background-color: #fff;
            border-radius: 8px;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            margin-bottom: 2rem;
            padding: 1rem;
        }

        h1,
        h2 {
            margin-top: 0;
        }

        ul {
            list-style: none;
            padding: 0;
        }

        li {
            border-bottom: 1px solid #ddd;
            padding: 1rem 0;
        }

        a {
            color: #007bff;
            text-decoration: none;
        }

        a:hover {
            text-decoration: underline;
        }
    </style>
    <section id="detalhes_artigo">
        <h1>{{ artigo.titulo }}</h1>
        <p><strong>Autor:</strong> {{ artigo.autores }}</p>
        <p><strong>Data de criação:</strong> {{ artigo.data }}</p>
        <p><strong>Revista:</strong> {{ artigo.revista }}</p>
        <h1>{{ artigo.resumo }}</h1>
        <p>Última modificação: {{ artigo.ultima_modificacao }}</p>
        <a href="{% url 'editar' artigo.id %}">Editar</a>
        <a href="{% url 'download_artigo' artigo.id %}" class="btn btn-outline-success">Download do Artigo</a>
        <a href="{% url 'excluir_artigo' artigo.id %}" onclick="return confirm('Você tem certeza que deseja excluir este arquivo?');">Excluir</a>    
    </section>


</main>


{% endblock %}